@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,600&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}

.navbar{
    background-color:#F8F8F8 !important;
    
}


.navbar a:hover {
    color: black !important;
}